[Unit]
Description=dou-mongo servive
After=docker.service
Requires=docker.service
After=etcd.service
Requires=etcd.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill dou-mongo
ExecStartPre=-/usr/bin/docker rm dou-mongo
ExecStartPre=/usr/bin/docker pull mongo
ExecStart=/usr/bin/docker run --name dou-mongo -d\
  -v /data/mongo:/data/db\
  mongo
